$background: #1a1a1a;
$main-red: #c20505;
$main-white: #f9f6f9;
$main-yellow: #ffd600;
$subtle-gray: #787b82;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  background-color: $background;
  color: $main-white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

.logo {
  font-size: 25px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 35px 5%;
  justify-content: space-between;
  font-weight: 600;
  position: relative;
  z-index: 1000;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
}

.menu-bar p {
  margin: 10px 50px;
  cursor: pointer;
  transition: color 0.4s ease;
}

.menu-bar p:hover {
  color: $main-red;
}

a {
  color: $main-white;
  text-decoration: none;
}

.right-logos img {
  width: 32px;
  cursor: pointer;
}

.user-btn {
  margin-left: 100px;
}

.poster {
  width: 400px;
  height: 600px;
}

button {
  background-color: $main-red;
  color: $main-white;
  border: none;
  border-radius: 100;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 22px 70px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #c71919;
}

.hero-container {
  position: relative;
  bottom: 110px;
  margin-bottom: -110px;
}

.hero-img {
  width: 100vw;
  max-width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.4;
  image-rendering: pixelated;
}

.hero-text {
  display: flex;
  position: absolute;
  top: 25%;
  padding: 0px 5%;
  width: 90%;
  max-width: 90%;
}

.left-hero,
.right-hero {
  flex: 1;
}

.dots {
  display: none;
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.hero-btns {
  display: flex;
  align-items: center;
  margin-top: 35px;
  gap: 15px;
}

.white-heart {
  cursor: pointer;
}

.right-hero {
  display: flex;
  justify-content: end;
}

.hero-duration {
  font-weight: 500;
  color: $subtle-gray;
  margin-bottom: 5px;
}

.hero-title {
  width: 36%;
}

.featured-star {
  width: 18px;
  align-self: baseline;
  margin-right: 6px;
}

h1 {
  font-size: 40px;
  margin: 20px 0;
}

.hero-desc {
  width: 70%;
  color: $subtle-gray;
}

h2 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.movie-heading-container {
  padding: 55px 5%;
}

.line {
  margin: 20px 0;
  border-top: $subtle-gray 1px solid;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grid-poster {
  width: 300px;
  aspect-ratio: 2 / 3;
  transition: filter 0.2s ease;
}

.grid-poster:hover {
  filter: blur(4px);
  cursor: pointer;
  transform: scale(1.02);
}

.grid-overflow {
  width: 300px;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: 6px;
}

.grid {
  padding: 0 5%; // change the padding and columns for smaller screen sizes
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
}

.grid-genre-desc {
  font-weight: 500;
  color: $subtle-gray;
  padding-top: 5px;
}

.grid-movie-info {
  text-align: center;
}

// break for mobile, but not smallest devices
@media (min-width: 0) and (max-width: 830px) {
  .nav-bar {
    padding: 10px 2%;
  }

  .logo {
    font-size: 20px;
  }

  .user-btn,
  .menu-bar {
    display: none;
  }

  .hero-container {
    bottom: 0;
    margin-bottom: 0px;
  }

  .hero-text {
    display: flex;
    position: static;
    top: 0;
    padding: 0px 2%;
    width: 96%;
    max-width: 96%;
    padding-top: 20px;
  }

  .left-hero {
    flex-grow: 4;
  }

  .hero-title {
    margin: 0 0 10px 0;
  }

  .hero-desc {
    width: 100%;
  }

  .movie-heading-container {
    padding: 55px 2%;
  }
}

@media (min-width: 0) and (max-width: 920px) {
  .dots {
    display: inline-block;
  }

  .hero-more-desc {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 1080px) {
  h1 {
    font-size: 30px;
  }

  * {
    font-size: 14px;
  }

  .featured-star {
    width: 15.5px;
  }

  .hero-title {
    width: 100%;
  }

  .hero-text {
    top: 31%;
  }

  .right-logos img {
    width: 28px;
  }

  .white-heart {
    width: 28px;
  }

  .logo {
    font-size: 23px;
  }

  .menu-bar {
    width: 30%;
  }

  .menu-bar p {
    margin: 10px 5px;
  }

  .user-btn {
    margin-left: 20px;
  }

  button {
    padding: 18px 45px;
    font-size: 14px;
  }

  h2 {
    font-size: 26px;
  }
}

// big break point here
@media (min-width: 1080px) and (max-width: 1330px) {
  * {
    font-size: 15px;
  }

  .featured-star {
    width: 16.5px;
  }

  .hero-title {
    width: 50%;
  }

  .hero-text {
    top: 28%;
  }

  button {
    padding: 22px 68px;
    font-size: 15px;
  }
}

@media (min-width: 1500px) and (max-width: 3000px) {
  .hero-btns {
    margin-top: 55px;
  }
}

@media (min-width: 1600px) {
  .hero-text {
    top: 28%;
  }
}
